@page
@model NguyenThanhDuyRazorPage.Pages.CustomerArea.RentingCarDetail.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RentingDetail[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentingDetail[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentingDetail[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentingDetail[0].Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentingDetail[0].RentingTransaction)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RentingDetail) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.CarName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentingTransaction.RentingTransationId)
            </td>

        </tr>
}
    </tbody>
</table>
