@page
@model NguyenThanhDuyRazorPage.Pages.AdminArea.Customers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPage[0].CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPage[0].Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPage[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPage[0].CustomerBirthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPage[0].CustomerStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPage[0].Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CustomerPage)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerBirthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CustomerId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CustomerId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CustomerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.CustomerPage.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.CustomerPage.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-pageIndex="@(Model.CustomerPage.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>

<a asp-page="./Index"
   asp-route-pageIndex="@(Model.CustomerPage.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>
