@page
@model NguyenThanhDuyRazorPage.Pages.ControllerPages.CustomerPage
@using NguyenThanhDuyRazorPage.Pages.SessionHelpers
@using CarRetingAppLibrary.DataAccess

@{
    ViewData["Title"] = "Index";
    var user = SessionHelper.GetObjectFromJson<Customer>(HttpContext.Session, "user");
    string welcomeMessage = $"Welcome, {user.CustomerName}!";
}

<h1>Renting Car</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarInformations[0].CarName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarInformations[0].CarDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarInformations[0].NumberOfDoors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarInformations[0].SeatingCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarInformations[0].FuelType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarInformations[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarInformations[0].CarStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarInformations[0].CarRentingPricePerDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarInformations[0].Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarInformations[0].Supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CarInformations) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfDoors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatingCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarRentingPricePerDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer.ManufacturerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
            </td>
            <td>
                    <a asp-page="/CustomerArea/RentingCarDetail/Create" asp-route-id="@item.CarId">Rent</a>
            </td>
        </tr>
}
    </tbody>
    <div class="text-center">
        <h1 class="display-4">Choose Options</h1>
        <div style="align-items: center;">
            <form method="get">
                <button asp-page="/CustomerArea/UserInformation/Index" type="submit" class="btn btn-primary" style="margin-top: 10px;" asp>View your information</button>
                <button asp-page="/CustomerArea/RentingCarDetail/Index" type="submit" class="btn btn-primary" style="margin-top: 10px;" asp>View history transaction</button>
                <button asp-page="/Logout" type="submit" class="btn btn-danger" style="margin-top: 10px;" asp>Log out</button>
            </form>
        </div>
    </div>
</table>

@{
    var prevDisabled = !Model.CarInformations.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.CarInformations.HasNextPage ? "disabled" : "";
}

<a asp-page="./CustomerPage"
   asp-route-pageIndex="@(Model.CarInformations.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>

<a asp-page="./CustomerPage"
   asp-route-pageIndex="@(Model.CarInformations.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>
